
<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Jesse Acklin's Blog</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Jesse Acklin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/jesse_acklin">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/sporkculture">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'jesse_acklin_resume.pdf' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'allblogs' %}">Blog</a>
            </li> 
            <li class="nav-item">
            </li> 
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
      <h1 class="text-center pt-3">Blog</h1>
      <br />
      <br />
      <h2>Latest Posts</h2>
      <hr />
          {% for blog in blogs.all %}
          

               <div class="card-body">
               <a href="{% url 'detail' blog.id%}"> <p class="card-text">{{ blog.title }}</p></a>
               {{ blog.publish_date }}
               <br />
               <img class="img-fluid" src="{{ blog.image.url }}" height=200 width=200/>
               <p>{{ blog.summary }}</p>
              
               </div>
          {% endfor %}
    </div>
    </main>

    <footer class="text-muted">
      <div class="container">
       <p>© Absolutely Not Applicable {% now "Y" %} </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
